*{box-sizing: border-box;}
html, body{width: 100%;}
body{font-family: 'IBM Plex Sans Arabic', sans-serif;padding: 3rem;overflow-x: hidden;}
 
select, button{
    font-family: 'IBM Plex Sans Arabic', sans-serif; font-size: 16px; height:56px;padding: 1rem;border-radius: 5px;border: none;cursor: pointer;transition: all .3s ease-in;
}
button{
    background-color: #ddd;color: #666;
}
button:hover, select:hover{
    background-color:#ccc ;transition: all .3s ease-in;
}
 
button.active{
    background-color: #005eff;color: #fff;
}
button.active:hover{
    background-color: #337eff;
}
select{
    -webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(https://cdn-icons-png.flaticon.com/512/625/625946.png) 90% center no-repeat;background-size: 7%;opacity: .5; box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
 
.table-responsive{
    width: 90%;overflow: auto;margin: 2rem auto;padding: 1rem;background-color: #fff;border-radius: 5px;
}
table{width: 100%;caption-side: bottom;border-collapse: collapse;}
table td, table th{
    padding: 1rem;white-space: nowrap;border-bottom: 1px solid #eee;color: #666;text-align: left;font-weight: 300;font-size: 18px;
}
table td{border-right:1px solid #eee}
table th{
    color: #666;font-weight: 600;
}
table tr:first-child th{
    color: #000;
}
table tr:first-child td{
    font-weight: 500;color: #333;
}
 
.filter-wrapper{
    margin: 0 auto;width: 90%;display: grid;align-items: center;grid-template-columns: repeat(6, 1fr);grid-gap: 5px;
}
 
@media (max-width:767px){
    body{padding: 1rem;margin: 0;}
    .filter-wrapper{
        width: 100%;grid-template-columns: repeat(2, 1fr)
    }
    .table-responsive{
        width: 100%;padding: 0;
    }
}